@font-face {
  font-family: 'Open Sans', sans-serif;
  src: local('OpenSans'), url(./fonts/OpenSans-Regular.ttf) format('truetype');
}

.background {
  font-family: 'OpenSans';
  background-color: '#fdfdfd';
}

.content {
  background-color: '#fdfdfd';
  margin-left: 50;
  margin-right: 50;
  flex-direction: 'column';
  align-items: 'center';
  justify-content: 'center';
  font-size: 'calc(10px + 2vmin)';
}

.difference {
  padding-top: 50;
}

.root {
  flex-grow: 1;
  margin-left: 10;
  margin-right: 10;
}

.appBarStyle {
  background: 'transparent'; 
  box-shadow: 'none';
}

.title {
  flex-grow: 1;
  color: '#38c172';
  font-weight: 'bold';
}

.appBarButton {
  color: '#202020';
  background: '#fdfdfd';
}

.differenceBox {
  padding: 10;
}

.square {
  display: 'inline-block';
  width: '100%';
  height: '100%';
  padding: 20;
  border-radius: 5;
  background: '#fdfdfd';
  color: '#38c172';
  box-shadow: '0px 12px 18px -8px rgba(56,193,114,0.5)';
}

.emailSquare {
  display: 'inline-block';
  width: '100%';
  height: '100%';
  padding: 20;
  border-radius: 5;
  background: '#38c172';
  color: '#fdfdfd';
}

.link {
  color: '#fdfdfd';
  margin-right: 5;
  width: 25;
  height: 25;
}

.link:hover {
  color: '#fdfdfd';
}

.imageSize {
  width: '100%';
  height: '100%';
}

.footer {
  background: '#38c172'; 
  left: 0;
  bottom: 0;
  position: 'relative'; 
  width: '100%'; 
  clear: 'both';
}

.footerStyling {
  margin: 20;
}

.footerContent {
  align-items: 'center';
  justify-content: 'left';
  display: 'flex';
  margin-top: 5;
  margin-bottom: 5;
}